body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 25px;
  background: #1e293b;
}

.sub {
  color: #94a3b8;
}

main {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h2 {
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

.table-container {
  overflow-x: auto;
}
.sub {
  color: #94a3b8;
  font-size: 16px;
}

/* blinking cursor */
.cursor {
  display: inline-block;
  color: #38bdf8;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #334155;
  text-align: center;
}

tr:hover {
  background: #334155;
}
